## Лабораторная работа № 1 
## Выполнение разведочного анализа больших данных с использованием фреймворка Apache Spark

### Часть 1

В данной части работы рассмотрены:
* загрузка данных из HDFS;
* базовые преобразования данных;
* загрузка преобразованных данных в таблицу `Apache Airflow`.

Подключим необходимые библиотеки.

In [1]:
import os
from pyspark.sql import SparkSession, DataFrame
from pyspark import SparkConf
from pyspark.sql.functions import (
    regexp_replace,
    regexp_extract_all,
    col,
    lit
)

Сформируем объект конфигурации для `Apache Spark`, указав необходимые параметры.

In [2]:
def create_spark_configuration() -> SparkConf:
    """
    Создает и конфигурирует экземпляр SparkConf для приложения Spark.

    Returns:
        SparkConf: Настроенный экземпляр SparkConf.
    """
    # Получаем имя пользователя
    user_name = os.getenv("USER")
    
    conf = SparkConf()
    conf.setAppName("lab 1 Test")
    conf.setMaster("yarn")
    conf.set("spark.submit.deployMode", "client")
    conf.set("spark.executor.memory", "12g")
    conf.set("spark.executor.cores", "8")
    conf.set("spark.executor.instances", "2")
    conf.set("spark.driver.memory", "4g")
    conf.set("spark.driver.cores", "2")
    conf.set("spark.jars.packages", "org.apache.iceberg:iceberg-spark-runtime-3.5_2.12:1.6.0")
    conf.set("spark.sql.extensions", "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions")
    conf.set("spark.sql.catalog.spark_catalog", "org.apache.iceberg.spark.SparkCatalog")
    conf.set("spark.sql.catalog.spark_catalog.type", "hadoop")
    conf.set("spark.sql.catalog.spark_catalog.warehouse", f"hdfs:///user/{user_name}/warehouse")
    conf.set("spark.sql.catalog.spark_catalog.io-impl", "org.apache.iceberg.hadoop.HadoopFileIO")

    return conf

Создаём сам объект конфигурации.

In [3]:
conf = create_spark_configuration()

Создаём и выводим на экран сессию `Apache Spark`. В процессе создания сессии происходит подключение к кластеру `Apache Hadoop`, что может занять некоторое время.

In [4]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark

:: loading settings :: url = jar:file:/opt/spark-3.5.2-bin-hadoop3/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/user0/.ivy2/cache
The jars for the packages stored in: /home/user0/.ivy2/jars
org.apache.iceberg#iceberg-spark-runtime-3.5_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-badb9122-c6d1-4b7d-bb9a-0f575197b402;1.0
	confs: [default]
	found org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 in central
:: resolution report :: resolve 627ms :: artifacts dl 24ms
	:: modules in use:
	org.apache.iceberg#iceberg-spark-runtime-3.5_2.12;1.6.0 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   1   |   0   |   0   |   0   ||   1   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-badb9122-c6d1-4b7d-bb9a-0f575197b402
	confs: [default]
	0 artifacts copied, 1 already retrieved (0kB/31ms)
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/11 15:45:35 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/11/11 15:45:41 WARN Client: Neither spark.yarn.jars nor spark.yarn.archive is set, falling back to uploading libraries under SPARK_HOME.
24/11/11 15:46:02 WARN Client: Same path resource file:///home/user0/.ivy2/jars/org.apache.iceberg_iceberg-spark-runtime-3.5_2.12-1.6.0.jar added multiple times to distributed cache.

Для исследования будем использовать датасет `NYC Yellow Taxi Trip Data`, расположенный на платформе `Kaggle` по адресу 
https://www.kaggle.com/datasets/elemento/nyc-yellow-taxi-trip-data?select=yellow_tripdata_2016-03.csv
Датасет включает в себя информацию о поездках на такси.

Данный датасет уже загружен в `HDFS` по адресу: `hdfs:///user/user0/gysynin_dmitry_data/yellow_tripdata_2016-03.csv`

Указываем путь в `HDFS` для файла с данными.

In [ ]:
# path = "hdfs:///datasets/used_cars_data.csv"
# hadoop fs -copyFromLocal /home/user0/gysynin_dmitry/SOBD/2024/lab1/datasets/yellow_tripdata_2015-01.csv /user/user0/gysynin_dmitry_data/
path = "hdfs:///user/user0/gysynin_dmitry_data/yellow_tripdata_2015-01.csv"

Заполняем датафрейм данными из файла.

In [6]:
df = (spark.read.format("csv")
      .option("header", "true")
      # .option("multiLine", "true")
      .option("separator", ",")
      .load(path)
)

Выводим фрагмент датафрейма на экран.

In [7]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|   pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag|  dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       2| 2015-01-15 19:05:39|  2015-01-15 19:23:42|              1|         1.59|   -73.993896484375|40.750110626220703|         1|                 N|-73.974784851074219|40.750617980957031|           1|         12|    1|    0.5|      3.25|           0|                  0.3|       17.05|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:53:28|              1|         3.30| -74.00164794921875|  40.7242431640625|         1|                 N|-73.994415283203125|40.759109497070313|           1|       14.5|  0.5|    0.5|         2|           0|                  0.3|        17.8|
|       1| 2015-01-10 20:33:38|  2015-01-10 20:43:41|              1|         1.80|-73.963340759277344|40.802787780761719|         1|                 N|-73.951820373535156|40.824413299560547|           2|        9.5|  0.5|    0.5|         0|           0|                  0.3|        10.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:35:31|              1|          .50|-74.009086608886719|40.713817596435547|         1|                 N|-74.004325866699219|40.719985961914063|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:52:58|              1|         3.00|-73.971176147460938|40.762428283691406|         1|                 N|-74.004180908203125|40.742652893066406|           2|         15|  0.5|    0.5|         0|           0|                  0.3|        16.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:53:52|              1|         9.00|-73.874374389648438|  40.7740478515625|         1|                 N|-73.986976623535156|40.758193969726563|           1|         27|  0.5|    0.5|       6.7|        5.33|                  0.3|       40.33|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:58:31|              1|         2.20|  -73.9832763671875|40.726009368896484|         1|                 N|-73.992469787597656|  40.7496337890625|           2|         14|  0.5|    0.5|         0|           0|                  0.3|        15.3|
|       1| 2015-01-10 20:33:39|  2015-01-10 20:42:20|              3|          .80|-74.002662658691406|40.734142303466797|         1|                 N|-73.995010375976563|40.726325988769531|           1|          7|  0.5|    0.5|      1.66|           0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:39|  2015-01-10 21:11:35|              3|        18.20|-73.783042907714844|40.644355773925781|         2|                 N|-73.987594604492187|40.759357452392578|           2|         52|    0|    0.5|         0|        5.33|                  0.3|       58.13|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:40:44|              2|          .90|-73.985588073730469|40.767948150634766|         1|                 N|-73.985916137695313|40.759365081787109|           1|        6.5|  0.5|    0.5|      1.55|           0|                  0.3|        9.35|
|       1| 2015-01-10 20:33:40|  2015-01-10 20:41:39|              1|          .90|-73.988616943359375|40.723102569580078|         1|                 N|    -74.00439453125|40.728584289550781|           1|          7|  0.5|    0.5|      1.66|           0|                  0.3|        9.96|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:43:26|              1|         1.10|-73.993782043457031|40.751419067382812|         1|                 N|  -73.9674072265625|40.757217407226563|           1|        7.5|  0.5|    0.5|         1|           0|                  0.3|         9.8|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:35:23|              1|          .30| -74.00836181640625|40.704376220703125|         1|                 N|-74.009773254394531|40.707725524902344|           2|          3|  0.5|    0.5|         0|           0|                  0.3|         4.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 21:03:04|              1|         3.10|-73.973945617675781|40.760448455810547|         1|                 N|-73.997344970703125|40.735210418701172|           1|         19|  0.5|    0.5|         3|           0|                  0.3|        23.3|
|       1| 2015-01-10 20:33:41|  2015-01-10 20:39:23|              1|         1.10|-74.006721496582031|40.731777191162109|         1|                 N|-73.995216369628906|40.739894866943359|           2|          6|  0.5|    0.5|         0|           0|                  0.3|         7.3|
|       2| 2015-01-15 19:05:39|  2015-01-15 19:32:00|              1|         2.38|-73.976425170898437|40.739810943603516|         1|                 N|-73.983978271484375|40.757888793945313|           1|       16.5|    1|    0.5|      4.38|           0|                  0.3|       22.68|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:21:00|              5|         2.83|-73.968704223632812|40.754245758056641|         1|                 N|-73.955123901367188|40.786857604980469|           2|       12.5|    1|    0.5|         0|           0|                  0.3|        14.3|
|       2| 2015-01-15 19:05:40|  2015-01-15 19:28:18|              5|         8.33|-73.863059997558594|40.769580841064453|         1|                 N|-73.952713012695312|40.785781860351563|           1|         26|    1|    0.5|      8.08|        5.33|                  0.3|       41.21|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:36|              1|         2.37|-73.945541381835938|40.779422760009766|         1|                 N|-73.980850219726563|40.786083221435547|           1|       11.5|    1|    0.5|         0|           0|                  0.3|        13.3|
|       2| 2015-01-15 19:05:41|  2015-01-15 19:20:22|              2|         7.13|-73.874458312988281|40.774009704589844|         1|                 N|-73.952377319335938|40.718589782714844|           1|       21.5|    1|    0.5|       4.5|           0|                  0.3|        27.8|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

Очевидно, что в целях сохранения ясности изложения и сокращения расчетного времени имеет смысл рассматривать не все солбцы датасета. Оставим следующие колонки, удалив остальные:


| Название столбца  | Расшифровка |
| ------------- | ------------- |
| VendorID | Код, указывающий на поставщика услуг TPEP, который предоставил запись. 1 - Creative Mobile Technologies 2- VeriFone Inc. |
| passenger_count | Количество пассажиров |
| trip_distance | Расстояние поездки |
| RateCodeID | Окончательный код тарифа, действующий в конце поездки. 1- Стандартный тариф 2- JFK 3- Ньюарк 4- Нассау или Вестчестер 5- Тариф по договоренности 6- Групповая поездка |
| store_and_fwd_flag | Этот флаг указывает, хранилась ли запись о поездке в памяти автомобиля перед отправкой поставщику, так называемый «store and forward», поскольку автомобиль не имел соединения с сервером. Y = поездка с сохранением и пересылкой N= не поездка с сохранением и пересылкой |
| payment_type | Цифровой код, обозначающий, каким образом пассажир оплатил поездку. 1- Кредитная карта 2- Наличные 3- Без оплаты 4-Спор 5- Неизвестно 6-Анулированная поездка |
| fare_amount | Тариф за время и расстояние, рассчитанный счетчиком. |
| extra | Различные доплаты и надбавки. В настоящее время сюда входят только сборы в размере 0,50 и 1 доллара в час пик и ночные сборы. |
| tip_amount | Сумма чаевых - Это поле автоматически заполняется для чаевых по кредитной карте. Чаевые наличными не учитываются. |
| tolls_amount | Общая сумма всех дорожных сборов, оплаченных в поездке. |
| total_amount | Общая сумма, взимаемая с пассажиров. Не включает денежные чаевые. |

In [8]:
df = df.select(
    "VendorID", "passenger_count", "trip_distance",
    "RateCodeID", "store_and_fwd_flag", "payment_type", 
    "fare_amount", "extra", "tip_amount",
    "tolls_amount", "total_amount"
)

In [9]:
df.show()

+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
|VendorID|passenger_count|trip_distance|RateCodeID|store_and_fwd_flag|payment_type|fare_amount|extra|tip_amount|tolls_amount|total_amount|
+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
|       2|              1|         1.59|         1|                 N|           1|         12|    1|      3.25|           0|       17.05|
|       1|              1|         3.30|         1|                 N|           1|       14.5|  0.5|         2|           0|        17.8|
|       1|              1|         1.80|         1|                 N|           2|        9.5|  0.5|         0|           0|        10.8|
|       1|              1|          .50|         1|                 N|           2|        3.5|  0.5|         0|           0|         4.8|
|       1|              1|         3.00|         1|                 N|           2|         15|  0.5|         0|           0|        16.3|
|       1|              1|         9.00|         1|                 N|           1|         27|  0.5|       6.7|        5.33|       40.33|
|       1|              1|         2.20|         1|                 N|           2|         14|  0.5|         0|           0|        15.3|
|       1|              3|          .80|         1|                 N|           1|          7|  0.5|      1.66|           0|        9.96|
|       1|              3|        18.20|         2|                 N|           2|         52|    0|         0|        5.33|       58.13|
|       1|              2|          .90|         1|                 N|           1|        6.5|  0.5|      1.55|           0|        9.35|
|       1|              1|          .90|         1|                 N|           1|          7|  0.5|      1.66|           0|        9.96|
|       1|              1|         1.10|         1|                 N|           1|        7.5|  0.5|         1|           0|         9.8|
|       1|              1|          .30|         1|                 N|           2|          3|  0.5|         0|           0|         4.3|
|       1|              1|         3.10|         1|                 N|           1|         19|  0.5|         3|           0|        23.3|
|       1|              1|         1.10|         1|                 N|           2|          6|  0.5|         0|           0|         7.3|
|       2|              1|         2.38|         1|                 N|           1|       16.5|    1|      4.38|           0|       22.68|
|       2|              5|         2.83|         1|                 N|           2|       12.5|    1|         0|           0|        14.3|
|       2|              5|         8.33|         1|                 N|           1|         26|    1|      8.08|        5.33|       41.21|
|       2|              1|         2.37|         1|                 N|           1|       11.5|    1|         0|           0|        13.3|
|       2|              2|         7.13|         1|                 N|           1|       21.5|    1|       4.5|           0|        27.8|
+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
only showing top 20 rows

Выведем на экран метаданные датасета.

In [10]:
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RateCodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)

Видно, что все столбцы датасета содержат строковый тип данных, что не соответствует ожиданиям. Выполним преобразования типов данных некоторых столбцов.

In [11]:
def transform_dataframe(data: DataFrame) -> DataFrame:
    """
    Преобразует столбцы DataFrame в указанные типы данных и
    выполняет необходимые преобразования.

    Args:
        data (DataFrame): Исходный DataFrame.

    Returns:
        DataFrame: Преобразованный DataFrame.
    """
    # Преобразуем столбцы в соответствующие типы данных
    data = data.withColumn("VendorID",
                    col("VendorID").cast("Integer"))
    data = data.withColumn("passenger_count",
                    col("passenger_count").cast("Integer"))
    data = data.withColumn("RateCodeID",
                    col("RateCodeID").cast("Integer"))
    data = data.withColumn("payment_type",
                    col("payment_type").cast("Integer"))

    data = data.withColumn("trip_distance",
                    col("trip_distance").cast("Float"))
    data = data.withColumn("fare_amount",
                    col("fare_amount").cast("Float"))
    data = data.withColumn("extra",
                    col("extra").cast("Float"))
    data = data.withColumn("tip_amount",
                    col("tip_amount").cast("Float"))
    data = data.withColumn("tolls_amount",
                    col("tolls_amount").cast("Float"))
    data = data.withColumn("total_amount",
                    col("total_amount").cast("Float"))

    data = data.withColumn("store_and_fwd_flag",
                    col("store_and_fwd_flag").cast("Boolean"))

    return data

In [12]:
df = transform_dataframe(df)

In [13]:
df.show()

+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
|VendorID|passenger_count|trip_distance|RateCodeID|store_and_fwd_flag|payment_type|fare_amount|extra|tip_amount|tolls_amount|total_amount|
+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
|       2|              1|         1.59|         1|             false|           1|       12.0|  1.0|      3.25|         0.0|       17.05|
|       1|              1|          3.3|         1|             false|           1|       14.5|  0.5|       2.0|         0.0|        17.8|
|       1|              1|          1.8|         1|             false|           2|        9.5|  0.5|       0.0|         0.0|        10.8|
|       1|              1|          0.5|         1|             false|           2|        3.5|  0.5|       0.0|         0.0|         4.8|
|       1|              1|          3.0|         1|             false|           2|       15.0|  0.5|       0.0|         0.0|        16.3|
|       1|              1|          9.0|         1|             false|           1|       27.0|  0.5|       6.7|        5.33|       40.33|
|       1|              1|          2.2|         1|             false|           2|       14.0|  0.5|       0.0|         0.0|        15.3|
|       1|              3|          0.8|         1|             false|           1|        7.0|  0.5|      1.66|         0.0|        9.96|
|       1|              3|         18.2|         2|             false|           2|       52.0|  0.0|       0.0|        5.33|       58.13|
|       1|              2|          0.9|         1|             false|           1|        6.5|  0.5|      1.55|         0.0|        9.35|
|       1|              1|          0.9|         1|             false|           1|        7.0|  0.5|      1.66|         0.0|        9.96|
|       1|              1|          1.1|         1|             false|           1|        7.5|  0.5|       1.0|         0.0|         9.8|
|       1|              1|          0.3|         1|             false|           2|        3.0|  0.5|       0.0|         0.0|         4.3|
|       1|              1|          3.1|         1|             false|           1|       19.0|  0.5|       3.0|         0.0|        23.3|
|       1|              1|          1.1|         1|             false|           2|        6.0|  0.5|       0.0|         0.0|         7.3|
|       2|              1|         2.38|         1|             false|           1|       16.5|  1.0|      4.38|         0.0|       22.68|
|       2|              5|         2.83|         1|             false|           2|       12.5|  1.0|       0.0|         0.0|        14.3|
|       2|              5|         8.33|         1|             false|           1|       26.0|  1.0|      8.08|        5.33|       41.21|
|       2|              1|         2.37|         1|             false|           1|       11.5|  1.0|       0.0|         0.0|        13.3|
|       2|              2|         7.13|         1|             false|           1|       21.5|  1.0|       4.5|         0.0|        27.8|
+--------+---------------+-------------+----------+------------------+------------+-----------+-----+----------+------------+------------+
only showing top 20 rows

In [14]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: float (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: boolean (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: float (nullable = true)
 |-- extra: float (nullable = true)
 |-- tip_amount: float (nullable = true)
 |-- tolls_amount: float (nullable = true)
 |-- total_amount: float (nullable = true)

Видно, что теперь столбцы датафрейма содержат значения корректных типов.

Полученный датафрейм сохраним для дальнейшего использования. Сохранение выполним в таблицу `Apache Iceberg`. 

`Apache Iceberg` — это поддерживающий высокую производительность табличный формат для больших данных.

Сначала создадим базу данных, в которой будет расположена таблица. Во избежание путаницы, **каждую таблицу следует называть с использованием фамилии студента**.

In [16]:
database_name = "gysynin_dmitry_database"

Создадим инструкцию SQL для добавления базы данных в каталог `Apache Spark`.

In [17]:
create_database_sql = f"""
CREATE DATABASE IF NOT EXISTS spark_catalog.{database_name}
"""

In [18]:
spark.sql(create_database_sql)

DataFrame[]

Установим созданную базу данных как текущую.

In [19]:
spark.catalog.setCurrentDatabase(database_name)

И, наконец, записываем преобразованный датафрейм в таблицу `sobd_lab1_table_gysynin`.

In [20]:
# Сохранение DataFrame в виде таблицы
df.writeTo("sobd_lab1_table_gysynin").using("iceberg").create()

После успешной записи можно посмотреть, какие таблицы входят в базу данных.

In [21]:
for table in spark.catalog.listTables():
    print(table.name)

sobd_lab1_processed_table
sobd_lab1_table_gysynin

Обратите внимание, что при необходимости созданные базу данных и таблицу можно удалить следующими командами.

In [ ]:
spark.sql("DROP TABLE spark_catalog.gysynin_dmitry_database.sobd_lab1_table_gysynin")
spark.sql("DROP DATABASE spark_catalog.gysynin_dmitry_database")

После успешной записи таблицы останавливаем сессию `Apache Spark`.

In [22]:
spark.stop()

/user/user0/gysynin_dmitry_data/